:root {
    --light-blue-100: #609ED4;
    --light-blue-200: #356EA9;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;

    --light-gray-200: #ADB5BD;
    --medium-gray-500: #868E96;
    --negro: #000000;

    --white-blue: #d3d8e4;

    --font-letter: 'Silkscreen', cursive;
}

/* Globales */

html {
    /* se reinicia el tamaño de la letra a 62.5% */
    font-size: 62.5%;
    box-sizing: border-box;
}

/* apply a natural box layout model to all elements, but allowing components to change */
*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    /* 1rem = 10px */
    font-size: 16px;
}

/* header */
.logo {
    width: 120rem;
    height: 10rem;
    padding-top: 3rem;
}

/* main */
.container {
    height: 80%;
    text-align: center;
    gap: 1rem;
}

@media(min-width: 992px) {
    .container {
        height: 65rem;
        display: flex;
        justify-content: center;
    }
}

@media(min-width: 992px) {
    .section-one {
        width: 65%;
    }
    .section-two {
        width: 29%;
        background-color: var(--white-blue);
        border-radius: 2rem;
    }
}

/* primera seccion main */
.mensaje-original {
    max-width: 80%;
    height: 35rem;
    margin: 3rem auto 0;
    resize: none;
    font-size: 2.5rem;
    border: none;
    outline: none;
}

@media(min-width: 992px) {
    .mensaje-original {
        width: 70%;
        height: 50rem;
    }
}

/*  segunda seccion
    Mensaje encriptado */
.mensaje-encriptado {
    max-width: 80%;
    height: 100%;
    margin: 3rem auto 0;
    resize: none;
    font-size: 2.5rem;
    border: none;
    outline: none;
}

@media(min-width: 992px) {
    .mensaje-encriptado {
        height: 51rem;
        margin: 3rem auto 0;
        resize: none;
        background-color: var(--white-blue);
    }
}

/* Botones */

/* Diseño principal de boton */
.btn {
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1.6rem;
    width: 25rem;
    height: 5rem;
    margin-top: 2rem;
}

/* Div botones */
@media(min-width: 992px) {
    .botones-principal {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
}

/* boton enciptar */
.btn-encriptar {
    background-color: var(--light-blue-200);
    color: var(--negro);
    margin-bottom: 0;
    transition: 1s;
}

.btn-encriptar:hover {
    background-color: var(--dark-blue-500);
    color: var(--white-blue);
}

/* boton desenciptar */
.btn-desencriptar {
    background-color: var(--white-blue);
    color: var(--negro);
    margin-bottom: 0;
    transition: 1s;
}

.btn-desencriptar:hover {
    background-color: var(--medium-gray-500);
    color: var(--dark-blue-500);
}

.btn-copiar {
    background-color: var(--dark-blue-500);
    color: var(--negro);
    transition: 1s;
}

.btn-copiar:hover {
    background-color: var(--light-blue-100);
    color: var(--white-blue);
}

.footer {
    text-align: center;
    padding-top: 1rem;
}